@font-face {
  font-family: "Helvetica";
  src: url("@fonts/Helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Helvetica";
  background: red;
}

.test {
  color: red;
  background: blue;
}

.testik {
  display: flex;
}
