.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}

.wrapper>div {
	min-width: 350px;
	min-height: 100px;
	padding: 20px;
	border: 1px solid black;
}

ul {
	list-style: none;
}

li {
	display: block;
	width: fit-content;
}

li:hover {
	text-decoration: underline;
	cursor: pointer;
}

.order-form {
	max-width: 600px;
	margin: 24px auto;
	background: white;
	border: 1px solid grey;
	border-radius: 12px;
	padding: 24px;
}

.form {
	display: grid;
	grid-gap: 12px;
}

.error {
	display: block;
	color: red;
	margin-top: 12px;
}

.top-buttons {
	display: flex;
	margin-bottom: 24px;
}

.order-list-button,
.order-list-back {
	height: 40px;
	background: orangered;
	color: white;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	padding: 6px 20px;
}

.hidden {
	display: none;
}