body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.app-container__row {
  display: flex;
  gap: 24px;
}
